<?xml version="1.0"?>
<config>
    <modules>
        <Chefsdeal_FinancingProgram>
            <version>0.0.1</version>
        </Chefsdeal_FinancingProgram>
    </modules>
    <global>
        <blocks>
            <financingprogram><!-- block alias -->
                <class>Chefsdeal_FinancingProgram_Block</class>
            </financingprogram>
        </blocks>
        <helpers>
            <financingprogram><!-- helper alias -->
                <class>Chefsdeal_FinancingProgram_Helper</class>
            </financingprogram>
        </helpers>
    </global>
    <frontend>
        <routers>
            <financingprogram>
                <use>standard</use>
                <args>
                    <module>Chefsdeal_FinancingProgram</module>
                    <frontName>financing-program</frontName><!-- url key for module -->
                </args>
            </financingprogram>
        </routers>
        <layout>
            <updates>
                <chefsdeal_financingprogram>
                    <file>chefsdeal_financingprogram.xml</file><!-- frontend layout file -->
                </chefsdeal_financingprogram>
            </updates>
        </layout>
        <translate>
            <modules>
                <Chefsdeal_FinancingProgram>
                    <files>
                        <default>Chefsdeal_FinancingProgram.csv</default><!-- translation file (not mandatory) -->
                    </files>
                </Chefsdeal_FinancingProgram>
            </modules>
        </translate>
    </frontend>
</config>