<?xml version="1.0"?>
<!--
/**
 * @category    Trmmarketing
 * @package     Trmmarketing_PopupWidgets
 * @copyright   Copyright (c) 2014 TRM Marketing LLC
 * @license     http://www.trm-marketing.com/solutions/license/TRM-Marketing-Standard-License-Agreement.html
 */
-->
<config>
    <modules>
        <Trmmarketing_Promotionalpopup>
            <version>3.5.7</version>
        </Trmmarketing_Promotionalpopup>
    </modules>
    <frontend>
        <routers>
            <promotionalpopup>
                <use>standard</use>
                <args>
                    <module>Trmmarketing_Promotionalpopup</module>
                    <frontName>promotionalpopup</frontName>
                </args>
            </promotionalpopup>
        </routers>
        <layout>
            <updates>
                <promotionalpopup>
                    <file>promotionalpopup.xml</file>
                </promotionalpopup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<!--adminhtml>
				<use>admin</use>
				<args>
					<modules>
						<Trmmarketing_Promotionalpopup before="Mage_Adminhtml">Trmmarketing_Promotionalpopup_Adminhtml</Trmmarketing_Promotionalpopup>
					</modules>
				</args>
			</adminhtml-->
			<adminhtml>
				 <args>
					 <modules>
						<Trmmarketing_Promotionalpopup after="Mage_Adminhtml">Trmmarketing_Promotionalpopup_Adminhtml</Trmmarketing_Promotionalpopup>
					 </modules>
				 </args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
					<promotionalpopup module="promotionalpopup"> 
			<title>Promotional Pop-ups</title>
				<sort_order>71</sort_order>            
						<action>adminhtml/promotionalpopup</action>
					
			</promotionalpopup>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<promotionalpopup>
							<title>TRM Marketing - Promotional Popups Module</title>
							<sort_order>10</sort_order>
						</promotionalpopup>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<promotionalpopup>
					<file>promotionalpopup.xml</file>
				</promotionalpopup>
			</updates>
		</layout>
		<translate>
            <modules>
                <translations>
                    <files>
                        <default>Trmmarketing_Promotionalpopup.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <promotionalpopup>
                <class>Trmmarketing_Promotionalpopup_Model</class>
                <resourceModel>promotionalpopup_mysql4</resourceModel>
            </promotionalpopup>
            <promotionalpopup_mysql4>
                <class>Trmmarketing_Promotionalpopup_Model_Mysql4</class>
                <entities>
                    <promotionalpopup>
                        <table>promotionalpopup</table>
                    </promotionalpopup>
                </entities>
            </promotionalpopup_mysql4>
        </models>
        <resources>
            <promotionalpopup_setup>
                <setup>
                    <module>Trmmarketing_Promotionalpopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotionalpopup_setup>
            <promotionalpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotionalpopup_write>
            <promotionalpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotionalpopup_read>
        </resources>
        <blocks>
            <promotionalpopup>
                <class>Trmmarketing_Promotionalpopup_Block</class>
            </promotionalpopup>
        </blocks>
        <helpers>
            <promotionalpopup>
                <class>Trmmarketing_Promotionalpopup_Helper</class>
            </promotionalpopup>
        </helpers> 
		
		<template>
            <email>
                <trmpopupconfig_trmpopupsubscribe_group_template  module="promotionalpopup">
                    <label>Default Promotional Pop-up Template</label>
                    <file>promotionalpopup_template.html</file>  
                    <type>html</type>
                </trmpopupconfig_trmpopupsubscribe_group_template>
            </email>
        </template>
		
		<events>
			<newsletter_subscriber_save_commit_after>
            <observers>
                <promotionalpopup_subscribeconfirmation>
                    <class>Trmmarketing_Promotionalpopup_Model_Observer</class>
                    <method>subscriptionConfirmation</method>
                </promotionalpopup_subscribeconfirmation>
            </observers>
        </newsletter_subscriber_save_commit_after>
		</events>
		
    </global>
	<default>
		<trmpopupconfig>
			<trmpopup_group>
                <tabletwidth>720</tabletwidth>
				<mobilewidth>500</mobilewidth>
			</trmpopup_group>	
			<trmpopuptracking_group>
				<trackingoptions>None</trackingoptions>
			</trmpopuptracking_group>
			<trmpopupdesign_group>
			<popupmodalclickclose>0</popupmodalclickclose>
				<popupmodalcolor>#FFFFFF</popupmodalcolor>
				<popupmodalopacity>0.5</popupmodalopacity>
				<popupmodalinduration>.5</popupmodalinduration>
				<popupmodaloutduration>.5</popupmodaloutduration>
			</trmpopupdesign_group>
			<trmpopupsubscribe_group>
				<skipzendvalidation>0</skipzendvalidation>
				<enablenoguest>0</enablenoguest>
				<noguest>Sorry, but administrator denied subscription for guests.</noguest>
				<enablecustomeremail>0</enablecustomeremail>
				<customeremail>This email address is already assigned to another user.</customeremail>
				<enablenoduplicates>0</enablenoduplicates>
				<noduplicates>Sorry, this email is already subscribed.</noduplicates>
            </trmpopupsubscribe_group>
		</trmpopupconfig>
	</default>
</config>