<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <LitExtension_CartMigration>
            <version>1.3.6</version>
        </LitExtension_CartMigration>
    </modules>

    <global>
        <resources>
            <litextension_cartmigration_setup>
                <setup>
                    <module>LitExtension_CartMigration</module>
                    <class>LitExtension_CartMigration_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </litextension_cartmigration_setup>
            <le_cartmigration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </le_cartmigration_write>
            <le_cartmigration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </le_cartmigration_read>
        </resources>
        <blocks>
            <le_cartmigration>
                <class>LitExtension_CartMigration_Block</class>
            </le_cartmigration>
        </blocks>
        <helpers>
            <le_cartmigration>
                <class>LitExtension_CartMigration_Helper</class>
            </le_cartmigration>
        </helpers>
        <models>
            <le_cartmigration>
                <class>LitExtension_CartMigration_Model</class>
                <resourceModel>le_cartmigration_mysql4</resourceModel>
            </le_cartmigration>
            <le_cartmigration_mysql4>
                <class>LitExtension_CartMigration_Model_Mysql4</class>
                <entities>
                    <imports>
                        <table>le_cartmigration_imports</table>
                    </imports>
                    <user>
                        <table>le_cartmigration_user</table>
                    </user>
                    <recent>
                        <table>le_cartmigration_recent</table>
                    </recent>
                </entities>
            </le_cartmigration_mysql4>
            <catalog>
                <rewrite>
                    <product>LitExtension_CartMigration_Model_Catalog_Product</product>
                    <product_attribute_backend_media>LitExtension_CartMigration_Model_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
        </models>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <litextension_cartmigration>
                    <file>le_cartmigration.xml</file>
                </litextension_cartmigration>
            </updates>
        </layout>
        <translate>
            <modules>
                <LitExtension_CartMigration>
                    <files>
                        <default>LitExtension_CartMigration.csv</default>
                    </files>
                </LitExtension_CartMigration>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LitExtension_CartMigration before="Mage_Adminhtml">LitExtension_CartMigration_Adminhtml</LitExtension_CartMigration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>

    </frontend>

    <default>
        <le_cartmigration>
            <general>
                <categories>10</categories>
                <products>10</products>
                <reviews>10</reviews>
                <taxes>10</taxes>
                <manufacturers>10</manufacturers>
                <customers>10</customers>
                <orders>10</orders>
                <delay>0.05</delay>
                <retry>30</retry>
            </general>
        </le_cartmigration>
    </default>
</config>