<?xml version="1.0"?>
<config>
    <modules>
        <Webtex_FeaturedProductsSlider>
            <version>1.0.0</version>
        </Webtex_FeaturedProductsSlider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <featuredproductsslider>
                    <file>featuredproductsslider.xml</file>
                </featuredproductsslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <featuredproductsslider>
                <class>Webtex_FeaturedProductsSlider_Model</class>
            </featuredproductsslider>
        </models>
        <helpers>
            <featuredproductsslider>
                <class>Webtex_FeaturedProductsSlider_Helper</class>
            </featuredproductsslider>
        </helpers>
        <blocks>
            <featuredproductsslider>
                <class>Webtex_FeaturedProductsSlider_Block</class>
            </featuredproductsslider>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <featuredproductsslider before="Mage_Adminhtml">Webtex_FeaturedProductsSlider_Adminhtml</featuredproductsslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>webtex</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
