<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWLayeredNav>
			<version>1.3.2</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewlayerednav/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWLayeredNav>
	</modules>
	<admin>
        <routers>
			<extendware_ewlayerednav>
				<use>admin</use>
				<args>
					<module>Extendware_EWLayeredNav</module>
					<frontName>extendware_ewlayerednav</frontName>
				</args>
			</extendware_ewlayerednav>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWLayeredNav>
					<files>
						<default>extendware/Extendware_EWLayeredNav.csv</default>
					</files>
				</Extendware_EWLayeredNav>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewlayerednav>
					<file>extendware/ewlayerednav.xml</file>
				</ewlayerednav>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWLayeredNav>
					<files>
						<default>extendware/Extendware_EWLayeredNav.csv</default>
					</files>
				</Extendware_EWLayeredNav>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewlayerednav>
					<file>extendware/ewlayerednav.xml</file>
				</ewlayerednav>
			</updates>
		</layout>
		<routers>
			<ewlayerednav>
				<use>standard</use>
				<args>
					<module>Extendware_EWLayeredNav</module>
					<frontName>ewlayerednav</frontName>
				</args>
			</ewlayerednav>
        </routers>
    </frontend>
	<global>
		<models>
			<ewlayerednav>
				<class>Extendware_EWLayeredNav_Model</class>
			</ewlayerednav>
		</models>
		<blocks>
			<ewlayerednav>
                <class>Extendware_EWLayeredNav_Block</class>
            </ewlayerednav>
		</blocks>
		<helpers>
			<ewlayerednav>
				<class>Extendware_EWLayeredNav_Helper</class>
			</ewlayerednav>
		</helpers>
		<resources>
			<ewlayerednav_setup>
				<setup>
					<module>Extendware_EWLayeredNav</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewlayerednav_setup>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
        <ewlayerednav>
        	<general>
                <browse_enabled>1</browse_enabled>
                <search_enabled>1</search_enabled>
            </general>
            <appearance>
            	<category_filter_type>breadcrumbs</category_filter_type>
                <price_filter_type>input</price_filter_type>
                <max_visible_attribute_options>3</max_visible_attribute_options>
                <max_visible_attributes>3</max_visible_attributes>
                <min_attribute_options>1</min_attribute_options>
                <max_height>0</max_height>
            </appearance>
            <behavior>
            	<price_first_enabled>1</price_first_enabled>
                <empty_filter_options_enabled>1</empty_filter_options_enabled>
                <ajax_enabled>1</ajax_enabled>
                <attribute_sorting_enabled>0</attribute_sorting_enabled>
				<attribute_option_sorting_enabled>1</attribute_option_sorting_enabled>
                <category_reset_filters_enabled>0</category_reset_filters_enabled>
                <remove_links_enabled>0</remove_links_enabled>
            </behavior>  
        </ewlayerednav>
    </default> 
	<extendware>
		<override>
			<model>
				<mage_core_layout_update_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout_Update</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Layout_Update</class>
            			<order>0</order>
           			</replace>
           			<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
           		</mage_core_layout_update_ewcore_override>
				<!-- prior to version 1.6 -->
				<mage_catalog_model_resource_eav_mysql4_layer_filter_price_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Resource_Eav_Mysql4_Layer_Filter_Price</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Model_Override_Mage_Catalog_Resource_Layer_Filter_Price</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_model_resource_eav_mysql4_layer_filter_price_ewlayerednav_override>
           		<mage_catalog_model_resource_layer_filter_price_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Resource_Layer_Filter_Price</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Model_Override_Mage_Catalog_Resource_Layer_Filter_Price</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_model_resource_layer_filter_price_ewlayerednav_override>
           	</model>
           	<helper>
				<mage_core_helper_url_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_Core_Helper_Url</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Helper_Override_Mage_Core_Url</class>
            			<order>100</order>
           			</replace>
           		</mage_core_helper_url_ewlayerednav_override>
           	</helper>
           	<block>
           		<mage_page_head_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Page_Html_Head</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_page_head_ewcore_override>
				<mage_catalog_block_category_view_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Category_View</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Block_Override_Mage_Catalog_Category_View</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_block_category_view_ewlayerednav_override>
           		<mage_catalog_block_layer_view_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Block_Layer_View</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Block_Override_Mage_Catalog_Layer_View</class>
            			<order>100</order>
           			</replace>
           		</mage_catalog_block_layer_view_ewlayerednav_override>
           		<mage_catalogsearch_block_layer_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_CatalogSearch_Block_Layer</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Block_Override_Mage_CatalogSearch_Layer</class>
            			<order>100</order>
           			</replace>
           		</mage_catalogsearch_block_layer_ewlayerednav_override>
           		<mage_catalogsearch_block_result_ewlayerednav_override>
					<mode>extendware</mode>
           			<search><class>Mage_CatalogSearch_Block_Result</class></search>
           			<replace>
           				<class>Extendware_EWLayeredNav_Block_Override_Mage_CatalogSearch_Result</class>
            			<order>100</order>
           			</replace>
           		</mage_catalogsearch_block_result_ewlayerednav_override>
           	</block>
		</override>
	</extendware>
</config>
