.ewcart-product p.price-from, .ewcart-product p.price-to {
	display: inline;
}

.ewcart-product .product-img-box {
	float: left;
	margin: 0px 10px 10px 0px;
}

.ewcart-product-default .product-img-box {
	margin: 0px 10px 0px 0px;
}

.ewcart-product .product-options {
  background-color: #F6F6F6;
  border: 1px solid #E4E4E4;
  margin: 20px 0 0;
  padding: 10px 15px 20px;
  position: relative;
}

.ewcart-product .product-options-bottom {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFADA;
  border-color: -moz-use-text-color #E4E4E4 #E4E4E4;
  border-image: none;
  border-right: 1px solid #E4E4E4;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 15px 20px;
}