<?xml version="1.0"?>
<config>
    <modules>
        <Webtex_ProductSliderPro>
            <version>0.7.0</version>
        </Webtex_ProductSliderPro>
    </modules>
    <frontend>
        <layout>
            <updates>
                <productsliderpro>
                    <file>productsliderpro.xml</file>
                </productsliderpro>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <productsliderpro>
                <class>Webtex_ProductSliderPro_Model</class>
            </productsliderpro>
        </models>
        <helpers>
            <productsliderpro>
                <class>Webtex_ProductSliderPro_Helper</class>
            </productsliderpro>
        </helpers>
        <blocks>
            <productsliderpro>
                <class>Webtex_ProductSliderPro_Block</class>
            </productsliderpro>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productsliderpro before="Mage_Adminhtml">Webtex_ProductSliderPro_Adminhtml</productsliderpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>webtex</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
