<?xml version="1.0"?>
<config>
    <modules>
        <Trustpilot_Reviews>
            <version>1.0.234</version>
        </Trustpilot_Reviews>
    </modules>
    <global>
        <blocks>
            <trustpilot>
                <class>Trustpilot_Reviews_Block</class>
            </trustpilot>
        </blocks>
        <helpers>
            <trustpilot>
                <class>Trustpilot_Reviews_Helper</class>
            </trustpilot>
        </helpers>
        <models>
            <trustpilot>
                <class>Trustpilot_Reviews_Model</class>
            </trustpilot>
        </models>
        <events>
            <admin_system_config_changed_section_trustpilot>
                <observers>
                    <Trustpilot_Reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_ConfigObserver</class>
                        <method>execute</method>
                    </Trustpilot_Reviews>
                </observers>
            </admin_system_config_changed_section_trustpilot>
            <admin_system_config_changed_section_trustpilot_trustbox>
                <observers>
                    <Trustpilot_Reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_ConfigObserver</class>
                        <method>execute</method>
                    </Trustpilot_Reviews>
                </observers>
            </admin_system_config_changed_section_trustpilot_trustbox>
             <sales_order_save_after>
                <observers>
                    <sales_order_save_after_trustpilot_reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_OrderSaveObserver</class>
                        <method>execute</method>
                    </sales_order_save_after_trustpilot_reviews>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <trustpilot>
                    <file>trustpilot.xml</file>
                </trustpilot>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <trustpilot>
                    <file>trustpilot.xml</file>
                </trustpilot>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <trustpilot>
                                            <title>Trustpilot Module Section</title>
                                        </trustpilot>
                                        <trustpilot_trustbox>
                                            <title>Store TrustBox settings</title>
                                        </trustpilot_trustbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <trustpilot>
            <trustpilot_general_group>
                <ApiUrl>https://invitejs.trustpilot.com/api/</ApiUrl>
                <ScriptUrl>https://invitejs.trustpilot.com/tp.min.js</ScriptUrl>
                <WidgetUrl>//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js</WidgetUrl>
                <SignUpUrl>https://business.trustpilot.com/signup</SignUpUrl>
                <ConnectUrl>https://ecommerce-invitations.b2b.trustpilot.com/#/magento</ConnectUrl>
                <SnippetUrl>https://businessapp.b2b.trustpilot.com/#/integrations/trustbox/library</SnippetUrl>
                <PreviewUrl>//ecommplugins-scripts.trustpilot.com/</PreviewUrl>
                <custom_order_status>complete</custom_order_status>
            </trustpilot_general_group>
        </trustpilot>
    </default>
</config>
