<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <trustpilot>
            <label>Trustpilot</label>
            <sort_order>400</sort_order>
        </trustpilot>
    </tabs>
    <sections>
        <trustpilot module="trustpilot">
            <label>General</label>
            <tab>trustpilot</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <trustpilot_general_group translate="label">
                    <label>Trustpilot General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment></comment>
                    <fields>
                        <trustpilot_key>
                            <label>Installation key</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-trustpilot-key</validate>
                            <sort_order>1</sort_order>
                            <comment><![CDATA[This is the key provided by Trustpilot to connect to your Magento web store.]]></comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_key>
                        <defaultMessage>
                            <frontend_type>label</frontend_type>
                             <label>Important</label>
                            <sort_order>1</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_message</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </defaultMessage>
                    </fields>
                 </trustpilot_general_group>
                 <trustpilot_signup_group translate="label">
                    <label>Don’t have an installation key yet?</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment></comment>
                    <fields>
                        <trustpilot_signup_website>
                            <label>Step 1:</label>
                            <frontend_type>button</frontend_type>
                            <sort_order>1</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_signup</frontend_model>
                            <comment><![CDATA[Create a new Trustpilot Business account.]]></comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trustpilot_signup_website>
                        <trustpilot_signup_store>
                            <label>Step 1:</label>
                            <frontend_type>button</frontend_type>
                            <sort_order>1</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_signup</frontend_model>
                            <comment><![CDATA[Create a new Trustpilot Business account.]]></comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_signup_store>
                        <trustpilot_connect_website>
                            <label>Step 2:</label>
                            <frontend_type>button</frontend_type>
                            <sort_order>2</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_connect</frontend_model>
                            <comment><![CDATA[Connect your Magento store to Trustpilot.]]></comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trustpilot_connect_website>
                        <trustpilot_connect_store>
                            <label>Step 2:</label>
                            <frontend_type>button</frontend_type>
                            <sort_order>2</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_connect</frontend_model>
                            <comment><![CDATA[Connect your Magento store to Trustpilot.]]></comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_connect_store>
                    </fields>
                </trustpilot_signup_group>
            </groups>
        </trustpilot>
    </sections>
    <sections>
        <trustpilot_trustbox module="trustpilot">
            <label>TrustBox</label>
            <tab>trustpilot</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <trustpilot_trustbox_group translate="label">
                    <label>TrustBox</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment></comment>
                    <fields>
                     <trustpilot_trustbox>
                            <label>TrustBox</label>
                            <frontend_type>select</frontend_type>                    
                            <source_model>trustpilot/system_config_source_trustbox </source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_trustbox>         
                        <trustpilot_code_snippet>
                            <label>Copy-paste TrustBox code snippet here</label>
                            <sort_order>2</sort_order>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-trustpilot-script</validate>
                        </trustpilot_code_snippet>
                        <trustpilot_snippet_website>
                            <frontend_type>button</frontend_type>
                            <sort_order>3</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_snippet</frontend_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trustpilot_snippet_website>
                         <trustpilot_snippet_store>
                            <frontend_type>button</frontend_type>
                            <sort_order>3</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_snippet</frontend_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_snippet_store>
                        <trustpilot_trustbox_page>
                            <label>Page</label>
                            <frontend_type>select</frontend_type>                    
                            <source_model>trustpilot/system_config_source_page </source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_trustbox_page> 
                        <trustpilot_position>
                            <label>Position</label>
                            <frontend_type>select</frontend_type>                    
                            <source_model>trustpilot/system_config_source_position </source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_position>
                        <trustpilot_trustbox_xpath>
                            <label>TrustBox location selector</label>                           
                            <sort_order>6</sort_order>
                            <frontend_type>text</frontend_type>  
                            <frontend_model>trustpilot/adminhtml_system_config_form_preview</frontend_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trustpilot_trustbox_xpath>
                    </fields>
                </trustpilot_trustbox_group>
            </groups>
        </trustpilot_trustbox>
    </sections>
</config>