<?xml version="1.0"?>
<config>
    <modules>
        <WeaveApps_ResponsiveSlideshow>
            <version>0.0.2</version>
        </WeaveApps_ResponsiveSlideshow>
    </modules>
    <frontend>
        <routers>
            <responsiveslideshow>
                <use>standard</use>
                <args>
                    <module>WeaveApps_ResponsiveSlideshow</module>
                    <frontName>responsiveslideshow</frontName>
                </args>
            </responsiveslideshow>
        </routers>
        <layout>
            <updates>
                <responsiveslideshow>
                    <file>wa_responsiveslideshow.xml</file>
                </responsiveslideshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<responsiveslideshow>
				<use>admin</use>
				<args>
					<module>WeaveApps_ResponsiveSlideshow</module>
					<frontName>responsiveslideshow</frontName>
				</args>
			</responsiveslideshow>
        </routers>
    </admin>
    <adminhtml>
	<menu>
        <cms>             
			<children>
				<responsiveslideshow translate="title" module="responsiveslideshow">
                    <title>Responsive Slideshow</title>
					<sort_order>75</sort_order>
					<children>
						<items translate="title" module="responsiveslideshow">
							<title>Manage Slides</title>
							<sort_order>0</sort_order>
							<action>responsiveslideshow/adminhtml_responsiveslideshow</action>
						</items>
                        <items_group translate="title" module="responsiveslideshow">
                            <title>Manage Groups</title>
                            <sort_order>1</sort_order>
                            <action>responsiveslideshow/adminhtml_responsiveslideshowgroup</action>
                        </items_group>
						<configuration>
							<title>Configuration</title>
							<sort_order>2</sort_order>
							<action>adminhtml/system_config/edit/section/responsiveslideshow</action>
						</configuration>
					</children>
				</responsiveslideshow>
			</children>
    </cms>
	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<WeaveApps_ResponsiveSlideshow>
							<title>ResponsiveSlideshow Module</title>
							<sort_order>11</sort_order>
						</WeaveApps_ResponsiveSlideshow>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<responsiveslideshow>
					<file>waresponsiveslideshow.xml</file>
				</responsiveslideshow>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <responsiveslideshow>
                <class>WeaveApps_ResponsiveSlideshow_Model</class>
                <resourceModel>responsiveslideshow_mysql4</resourceModel>
            </responsiveslideshow>
            <responsiveslideshow_mysql4>
                <class>WeaveApps_ResponsiveSlideshow_Model_Mysql4</class>
                <entities>
                    <responsiveslideshow>
                        <table>responsive_slideshow</table>
                    </responsiveslideshow>

                         <responsiveslideshowgroup>
                        <table>responsive_slideshow_bannergroup</table>
                    </responsiveslideshowgroup> 
<!--                    <responsiveslideshow_category>
                        <table>responsive_slideshow_category</table>
                    </responsiveslideshow_category>
             
                    <responsiveslideshow_page>
                        <table>responsive_slideshow_page</table>
                    </responsiveslideshow_page> -->
                   
                </entities>
            </responsiveslideshow_mysql4>
        </models>
        <resources>
            <responsiveslideshow_setup>
                <setup>
                    <module>WeaveApps_ResponsiveSlideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </responsiveslideshow_setup>
            <responsiveslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </responsiveslideshow_write>
            <responsiveslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </responsiveslideshow_read>
        </resources>
        <blocks>
            <responsiveslideshow>
                <class>WeaveApps_ResponsiveSlideshow_Block</class>
            </responsiveslideshow>
        </blocks>
        <helpers>
            <responsiveslideshow>
                <class>WeaveApps_ResponsiveSlideshow_Helper</class>
            </responsiveslideshow>
        </helpers>
    </global>
	<default>
		<responsiveslideshow>
			<responsiveslideshow_config>
				<enabled>1</enabled>
				<animation>random</animation>
				<speed>5000</speed>
				<interval>600</interval>
				<qty_item>4</qty_item>
				<description>1</description>
				<next_back>0</next_back>
				<nav_ctrl>1</nav_ctrl>
			</responsiveslideshow_config>
		</responsiveslideshow>
	</default>
</config>