<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWSearchSuggest>
			<version>1.3.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewsearchsuggest/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWSearchSuggest>
	</modules>
	<admin>
        <routers>
			<extendware_ewsearchsuggest>
				<use>admin</use>
				<args>
					<module>Extendware_EWSearchSuggest</module>
					<frontName>extendware_ewsearchsuggest</frontName>
				</args>
			</extendware_ewsearchsuggest>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWSearchSuggest>
					<files>
						<default>extendware/Extendware_EWSearchSuggest.csv</default>
					</files>
				</Extendware_EWSearchSuggest>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewsearchsuggest>
					<file>extendware/ewsearchsuggest.xml</file>
				</ewsearchsuggest>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWSearchSuggest>
					<files>
						<default>extendware/Extendware_EWSearchSuggest.csv</default>
					</files>
				</Extendware_EWSearchSuggest>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewsearchsuggest>
					<file>extendware/ewsearchsuggest.xml</file>
				</ewsearchsuggest>
			</updates>
		</layout>
		<routers>
			<ewsearchsuggest>
				<use>standard</use>
				<args>
					<module>Extendware_EWSearchSuggest</module>
					<frontName>ewsearchsuggest</frontName>
				</args>
			</ewsearchsuggest>
        </routers>
    </frontend>
	<global>
		<models>
			<ewsearchsuggest>
				<class>Extendware_EWSearchSuggest_Model</class>
				<resourceModel>ewsearchsuggest_resource</resourceModel>
			</ewsearchsuggest>
			<ewsearchsuggest_resource>
                <class>Extendware_EWSearchSuggest_Model_Resource</class>
                <entities>
                    <fulltext_page>
                        <table>ewsearchsuggest_fulltext_page</table>
                    </fulltext_page>
                    <fulltext_category>
                        <table>ewsearchsuggest_fulltext_category</table>
                    </fulltext_category>
                </entities>
            </ewsearchsuggest_resource>
		</models>
		<blocks>
			<ewsearchsuggest>
                <class>Extendware_EWSearchSuggest_Block</class>
            </ewsearchsuggest>
		</blocks>
		<helpers>
			<ewsearchsuggest>
				<class>Extendware_EWSearchSuggest_Helper</class>
			</ewsearchsuggest>
		</helpers>
		<resources>
			<ewsearchsuggest_setup>
				<setup>
					<module>Extendware_EWSearchSuggest</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewsearchsuggest_setup>
		</resources>
		<events>
			<catalog_category_save_after>
				<observers>
					<extendware_ewsearchsuggest>
						<class>ewsearchsuggest/observer_backend</class>
						<method>catalogCategorySaveAfter</method>
					</extendware_ewsearchsuggest>
				</observers>
			</catalog_category_save_after>
			<catalog_category_delete_after>
				<observers>
					<extendware_ewsearchsuggest>
						<class>ewsearchsuggest/observer_backend</class>
						<method>catalogCategoryDeleteAfter</method>
					</extendware_ewsearchsuggest>
				</observers>
			</catalog_category_delete_after>
			<cms_page_save_after>
				<observers>
					<extendware_ewsearchsuggest>
						<type>singleton</type>
						<class>ewsearchsuggest/observer_backend</class>
						<method>cmsPageSaveAfter</method>
					</extendware_ewsearchsuggest>
				</observers>
			</cms_page_save_after>
			<cms_page_delete_after>
				<observers>
					<extendware_ewsearchsuggest>
						<type>singleton</type>
						<class>ewsearchsuggest/observer_backend</class>
						<method>cmsPageDeleteAfter</method>
					</extendware_ewsearchsuggest>
				</observers>
			</cms_page_delete_after>
			<store_add>
				<observers>
					<extendware_ewsearchsuggest>
						<type>singleton</type>
						<class>ewsearchsuggest/observer_backend</class>
						<method>invalidateIndex</method>
					</extendware_ewsearchsuggest>
				</observers>
			</store_add>
			<store_delete>
				<observers>
					<extendware_ewsearchsuggest>
						<type>singleton</type>
						<class>ewsearchsuggest/observer_backend</class>
						<method>invalidateIndex</method>
					</extendware_ewsearchsuggest>
				</observers>
			</store_delete>
		</events>
		<template></template>
		<!--<rewrite>
			<ewsearchsuggest>
				<from><![CDATA[#^/catalogsearch/ajax/#]]></from>
				<to>/ewsearchsuggest/ajax/</to>
			</ewsearchsuggest>
		</rewrite>-->
		<index>
			<indexer>
				<ewsearchsuggest_indexes>
					<model>ewsearchsuggest/indexer</model>
				</ewsearchsuggest_indexes>
			</indexer>
		</index>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
        <ewsearchsuggest>
        	<general>
        		<enabled>1</enabled>
        		<highlight_terms>1</highlight_terms>
        		<box_horizontal_orientation>left</box_horizontal_orientation>
        		<default_search_text><![CDATA[Search entire store here...]]></default_search_text>
        		<no_results_message><![CDATA[We could not find any results that match your search term. Please try a different search term or click on any provided suggestions. Sometimes using synonyms helps.]]></no_results_message>
        	</general>
        	<advanced>
        		<max_box_height>600</max_box_height>
        		<box_width>500</box_width>
        		<box_top_offset_adjustment>0</box_top_offset_adjustment>
        		<frequency>0.4</frequency>
        		<min_chars>2</min_chars>
        	</advanced>
        </ewsearchsuggest>
        <ewsearchsuggest_query>
        	<general>
        		<enabled>1</enabled>
        		<max_items>6</max_items>
        		<max_name_length>20</max_name_length>
        		<sort_by>popularity_desc</sort_by>
        	</general>
        </ewsearchsuggest_query>
        <ewsearchsuggest_product>
        	<general>
        		<enabled>1</enabled>
        		<is_in_stock_required>1</is_in_stock_required>
        		<max_items>7</max_items>
        		<name_source>name</name_source>
        		<description_source>description</description_source>
        		<max_name_length>58</max_name_length>
        		<max_description_length>137</max_description_length>
        		<image_width>80</image_width>
        		<image_height>80</image_height>
        		<sort_by>relevance_desc</sort_by>
        		<group_by_category_enabled>1</group_by_category_enabled>
        		<category_name_source>name</category_name_source>
        		<category_max_name_length>50</category_max_name_length>
        		<category_path_snippet_format>2,1,1,58</category_path_snippet_format>
        		<more_results_mode>category</more_results_mode>
        		<category_filter_mode>none</category_filter_mode>
        		<max_categories_per_product>1</max_categories_per_product>
        	</general>
        </ewsearchsuggest_product>
        <ewsearchsuggest_category>
        	<general>
        		<enabled>1</enabled>
        		<search_engine>internal</search_engine>
        		<max_items>3</max_items>
        		<name_source>path</name_source>
        		<path_snippet_format>2,2,2,80</path_snippet_format>
        		<description_source>description</description_source>
        		<max_name_length>80</max_name_length>
        		<max_description_length>170</max_description_length>
        		<search_attributes>name,description,meta_title,meta_keywords,meta_description</search_attributes>
        		<sort_by>relevance_desc</sort_by>
        	</general>
        </ewsearchsuggest_category>
        <ewsearchsuggest_page>
        	<general>
        		<enabled>1</enabled>
        		<search_engine>internal</search_engine>
        		<max_items>3</max_items>
        		<name_source>title</name_source>
        		<description_source>content</description_source>
        		<max_name_length>80</max_name_length>
        		<max_description_length>170</max_description_length>
        		<search_attributes>title,content,content_heading,meta_keywords,meta_description</search_attributes>
        		<excluded_pages></excluded_pages>
        		<sort_by>relevance_desc</sort_by>
        	</general>
        </ewsearchsuggest_page>
    </default>
	<extendware>
		<override>
			<block>
				<mage_page_head_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Page_Html_Head</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_page_head_ewcore_override>
			</block>
	   </override>
	</extendware>
</config>
