<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Shipping Calcutalor
 *
 * Website: www.hiremagento.com 
 * Email: hiremagento@gmail.com
 */
-->
<config>
    <modules>
        <MS_ProductDetailShipping>
            <version>1.0.1</version>
        </MS_ProductDetailShipping>
    </modules>
    <global>
        <models>
            <ms_productdetailshipping>
                <class>MS_ProductDetailShipping_Model</class>
                <resourceModel>ms_productdetailshipping_resource</resourceModel>
            </ms_productdetailshipping>
            <ms_productdetailshipping_resource>
                <class>MS_ProductDetailShipping_Model_Resource</class>
                <entities>
                    <zipcodes>
                        <table>zipcodes</table>
                    </zipcodes>
                </entities>
            </ms_productdetailshipping_resource>
        </models>
        <blocks>
            <ms_productdetailshipping>
                <class>MS_ProductDetailShipping_Block</class>
            </ms_productdetailshipping>
        </blocks>
        <helpers>
            <ms_productdetailshipping>
                <class>MS_ProductDetailShipping_Helper</class>
            </ms_productdetailshipping>
        </helpers>
        <resources>
            <ms_productdetailshipping>
                <setup>
                    <module>MS_ProductDetailShipping</module>
                </setup>
            </ms_productdetailshipping>
        </resources>
    </global>
    <frontend>
        <routers>
            <ms_productdetailshipping>
                <use>standard</use>
                <args>
                    <frontName>productdetailshipping</frontName>
                    <module>MS_ProductDetailShipping</module>
                </args>
            </ms_productdetailshipping>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ms_productdetailshipping>
                        <type>singleton</type>
                        <model>ms_productdetailshipping/observer</model>
                        <method>observeLayoutHandleInitialization</method>
                    </ms_productdetailshipping>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <ms_productdetailshipping>
                    <file>ms/productdetailshipping.xml</file>
                </ms_productdetailshipping>
            </updates>
        </layout>
    </frontend>
    <ms>
        <productshippingpage>
            <controller_actions>
                <catalog_product_view />
            </controller_actions>
        </productshippingpage>
    </ms>
    <default>
        <ms_productdetailshipping>
            <settings>
                <enabled>0</enabled>
                <display_position>right</display_position>
                <use_country>1</use_country>
                <use_region>1</use_region>
                <use_city>0</use_city>
                <use_postcode>1</use_postcode>
                <use_coupon_code>0</use_coupon_code>
                <use_cart>0</use_cart>
                <use_cart_default>0</use_cart_default>
            </settings>
        </ms_productdetailshipping>
    </default>
</config>
