.postWrapper{
margin-top: 15px;
margin-bottom: 15px;
}
	.postWrapper.col-md-12 > * {
		text-align: left;
	}
.postTitle h2{
margin:0;
}
.postDetails{
text-align:right !important;
}
h4.poster{
display:inline;
}
.button-set{
margin-bottom:15px;
text-align:right;
}