<?xml version="1.0"?>
<!--
/**
 * Trmmarketing_Subscribeconfirmed extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Trmmarketing
 * @package        Trmmarketing_Subscribeconfirmed
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Trmmarketing_Subscribeconfirmed>
            <version>1.0.0</version>
        </Trmmarketing_Subscribeconfirmed>
    </modules>
    <global>
        <resources>
            <trmmarketing_subscribeconfirmed_setup>
                <setup>
                    <module>Trmmarketing_Subscribeconfirmed</module>
                    <class>Trmmarketing_Subscribeconfirmed_Model_Resource_Setup</class>
                </setup>
            </trmmarketing_subscribeconfirmed_setup>
        </resources>
        <blocks>
            <trmmarketing_subscribeconfirmed>
                <class>Trmmarketing_Subscribeconfirmed_Block</class>
            </trmmarketing_subscribeconfirmed>
        </blocks>
        <helpers>
            <trmmarketing_subscribeconfirmed>
                <class>Trmmarketing_Subscribeconfirmed_Helper</class>
            </trmmarketing_subscribeconfirmed>
        </helpers>
        <models>
            <trmmarketing_subscribeconfirmed>
                <class>Trmmarketing_Subscribeconfirmed_Model</class>
                <resourceModel>trmmarketing_subscribeconfirmed_resource</resourceModel>
            </trmmarketing_subscribeconfirmed>
            <trmmarketing_subscribeconfirmed_resource>
                <class>Trmmarketing_Subscribeconfirmed_Model_Resource</class>
                <entities>
                    <popupemail>
                        <table>trmmarketing_subscribeconfirmed_popupemail</table>
                    </popupemail>
                </entities>
            </trmmarketing_subscribeconfirmed_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <trmmarketing_subscribeconfirmed>
                    <file>trmmarketing_subscribeconfirmed.xml</file>
                </trmmarketing_subscribeconfirmed>
            </updates>
        </layout>
        <translate>
            <modules>
                <Trmmarketing_Subscribeconfirmed>
                    <files>
                        <default>Trmmarketing_Subscribeconfirmed.csv</default>
                    </files>
                </Trmmarketing_Subscribeconfirmed>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Trmmarketing_Subscribeconfirmed before="Mage_Adminhtml">Trmmarketing_Subscribeconfirmed_Adminhtml</Trmmarketing_Subscribeconfirmed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
